<!DOCTYPE html>  
<html lang="tr">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Portföy Takibi Uygulaması - Giriş</title>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
</head>  
<body>  
    <div class="wrapper">  
        <div class="form-section">  
            <h1>Portföy Takibi Uygulaması</h1>  
            <form method="POST" action="{{ url_for('auth.login') }}">  
                {{ form.hidden_tag() }}  <!-- CSRF Koruması -->  
                
                <label for="{{ form.email.id }}">E-posta:</label>  
                {{ form.email(placeholder="E-posta adresinizi girin") }}  
                {% if form.email.errors %}  
                    {% for error in form.email.errors %}  
                        <div class="error-message">{{ error }}</div>  
                    {% endfor %}  
                {% endif %}  
                
                <label for="{{ form.password.id }}">Parola:</label>  
                {{ form.password(placeholder="Parolanızı girin") }}  
                {% if form.password.errors %}  
                    {% for error in form.password.errors %}  
                        <div class="error-message">{{ error }}</div>  
                    {% endfor %}  
                {% endif %}  
                
                <!-- Buton stilini düzenledik -->  
                <button type="submit" class="btn btn-success w-100">Giriş Yap</button>  
            </form>  
            <div class="footer">  
                <p>Hesabın yok ise <a href="{{ url_for('auth.register') }}">Kayıt Ol</a></p>  
            </div>  
        </div>  
        <div class="right-section">  
            <h2>Hemen Başlayın!</h2>  
            <p>Portföyünüzü takip ederek yatırımlarınızı optimize edin.</p>  
        </div>  
    </div>  
</body>  
</html>