{% extends "base.html" %}  

{% block extra_css %}  
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">  
{% endblock %}  

{% block content %}  
<div class="wrapper">  
    <div class="form-section">  
        <h1>Portföy Takibi Uygulaması</h1>  
        <form method="POST" action="{{ url_for('auth.register') }}">  
            {{ form.hidden_tag() }}  <!-- CSRF Koruması -->  

            <label for="{{ form.username.id }}">Kullanıcı Adı:</label>  
            {{ form.username(placeholder="Kullanıcı adınızı girin") }}  
            {% if form.username.errors %}  
                {% for error in form.username.errors %}  
                    <div class="error-message">{{ error }}</div>  
                {% endfor %}  
            {% endif %}  
            
            <label for="{{ form.email.id }}">E-posta:</label>  
            {{ form.email(placeholder="E-posta adresinizi girin") }}  
            {% if form.email.errors %}  
                {% for error in form.email.errors %}  
                    <div class="error-message">{{ error }}</div>  
                {% endfor %}  
            {% endif %}  
            
            <label for="{{ form.password.id }}">Parola:</label>  
            {{ form.password(placeholder="Parolanızı girin") }}  
            {% if form.password.errors %}  
                {% for error in form.password.errors %}  
                    <div class="error-message">{{ error }}</div>  
                {% endfor %}  
            {% endif %}  
            
            <label for="{{ form.confirm_password.id }}">Parolayı Onayla:</label>  
            {{ form.confirm_password(placeholder="Parolanızı tekrar girin") }}  
            {% if form.confirm_password.errors %}  
                {% for error in form.confirm_password.errors %}  
                    <div class="error-message">{{ error }}</div>  
                {% endfor %}  
            {% endif %}  
            
            <button type="submit" class="btn btn-success w-100">Kayıt Ol</button>  
        </form>  
        <div class="footer">  
            <p>Zaten bir hesabın var mı? <a href="{{ url_for('auth.login') }}">Giriş Yap</a></p>  
        </div>  
    </div>  
    <div class="right-section">  
        <h2>Hemen Başlayın!</h2>  
        <p>Portföyünüzü takip ederek yatırımlarınızı optimize edin.</p>  
    </div>  
</div>  
{% endblock %}